.site-footer {
	border-top: 0;
	box-shadow: none;
	clear: both;
	float: none;
	margin: 0;
	width: auto;
}

.site-info {
	display: flex;
	justify-content: center;
	padding: 3em 0;
}

.menu-footer-menue-container {
	li {
		display: inline-block;
		list-style-type: none;

		&::before {
			content: ' | ';
		}

		&:first-of-type::before {
			content: '';
		}
	}
}
