body {
	background-color: #fff;
	
	&::before {
		content: none;
	}
}

body,
button,
input,
select,
textarea {
	font-family: "Open Sans", sans-serif;
}

.hentry,
.page-header,
.page-content {
	box-shadow: none;
}