body {
	background-color: #fff;
	
	&::before {
		content: none;
	}
}

body,
button,
input,
select,
textarea,
blockquote cite,
blockquote small,
input[type="button"],
input[type="reset"],
input[type="submit"],
.author-heading,
.comment-form label,
.comment-list .reply a,
.comment-metadata,
.comment-navigation,
.comment-notes,
.comment-awaiting-moderation,
.form-allowed-tags,
.entry-caption,
.entry-footer,
.gallery-caption,
.image-navigation,
.logged-in-as,
.main-navigation .menu-item-description,
.no-comments,
.page-links,
.pagination,
.pingback .edit-link,
.post-navigation .meta-nav,
.post-password-form label,
.site .skip-link,
.site-description,
.site-title,
.widecolumn label,
.widecolumn .mu_register label,
.widget-title,
.widget_rss .rss-date,
.widget_rss cite,
.wp-caption-text {
	font-family: "Open Sans", sans-serif;
}

::-webkit-input-placeholder {
	font-family: "Open Sans", sans-serif;
}

:-moz-placeholder {
	font-family: "Open Sans", sans-serif;
}

::-moz-placeholder {
	font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder {
	font-family: "Open Sans", sans-serif;
}

.hentry,
.page-header,
.page-content {
	box-shadow: none;
}

.hentry + .hentry {
	border-top: 0;
}

@media screen and (min-width: 38.75em) {
	.site-main,
	.hentry,
	.entry-content,
	.entry-header,
	.entry-summary {
		padding: 0;
	}
	
	.entry-footer {
		margin-top: 2em;
		padding: 1em 2em;
	}
}

@media screen and (min-width: 59.6875em) {
	.site-content {
		margin-left: 23.4118%;
		width: 76.5882%;
	}
}

.entry-content,
.entry-summary {
	.more-link::after {
		top: 0;
	}
}

.entry-points {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	@media screen and (min-width: 38.75em) {
		top: 45px;
	}
	
	.widget {
		background-color: rgba(0, 0, 0, 0);
		box-sizing: border-box;
		flex: 0 1 48%;
		margin: 0 0 3em;
		padding: 0;
		
		@media screen and (min-width: 38.75em) {
			flex: 0 1 23%;
			margin-bottom: 0;
		}
		
		a {
			display: block;
			position: relative;
			
			&::before {
				background: url(assets/images/termine-icon.svg) scroll no-repeat center center / 100px;
				content: "";
				height: 100px;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: -52px;
				width: 100px;
			}
		}
		
		&:nth-child(2) a::before {
			background-image: url(assets/images/spenden-icon.svg);
		}
		
		&:nth-child(3) a::before {
			background-image: url(assets/images/informationen-icon.svg);
		}
		
		&:nth-child(4) a::before {
			background-image: url(assets/images/kontakt-icon.svg);
		}
	}
}

.entry-footer {
	background-color: $color__grey-light;
}