.sidebar {
	position: relative !important;
	top: 2.6em !important;
}

.widget {
	background-color: $color__grey-light;
	padding: 1em;
}

.widget-title {
	border-bottom: 4px solid #333;
	font-size: 2rem;
	margin-bottom: 15px;
	padding-bottom: 5px;
	text-transform: none;
}

.special-area .widget {
	background-color: $color__background-special;
	color: $color__text-special;
	
	.widget-title {
		border-bottom-color: $color__text-special;
		color: $color__text-special;
	}
}

@media screen and (min-width: 59.6875em) {
	.sidebar {
		width: 23.4118%;
	}
	
	.widget-area:not(:last-child) {
		margin-bottom: 4em;
	}
	
	.widget {
		margin-bottom: 4em;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}